<launch>
  <arg name="host" default="192.168.1.231" />
  <arg name="publish_min_range_as_inf" default="false" />
  <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
    <param name="host" value="$(arg host)" />
    <param name="frame_id" type="string" value="rplidar_link"/>
    <param name="publish_min_range_as_inf" value="$(arg publish_min_range_as_inf)" />
  </node>
<node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.18 3.14 3.14 0.0 base_link laser 200"/>
</launch>
